<nav class="footer bg-dark text-white text-center" data-bs-theme="dark">
  <div class="container-fluid">
  	<p>Step into the world of Dumboflix! We’re the God of art, turning cool movie posters and unique photography into masterpieces. We’re not just creating art, we’re creating experiences. For fans, for art lovers, for you. <br/>Dumboflix – where every pixel tells a story.</p>
  	<p>Subscribe to keep being Awesome</p>
  	<div>
  		<input type="email">
  	<div>
	<small>--- A Redlii Project ---</small>
  </div>
</nav>

